
.card-content {
  padding: .5em;
  margin: 8px;
  border-style: solid;
  border-color: black;
  align-items: center;
  width: 500px;
  height: 400px;
  border-radius: 25px;
  box-shadow: 3px 7px 9px 6px grey;

  
}
  
.card-content h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: bold;
  color: rgb(80, 7, 109);
}
.card-content .postimg {
  align-self: center;
}
.card-content p {
  font-size: 150%;
  color: black;
  text-align: center;
}

.card-posttitle {
  color: purple;
  text-align: center;
}

.button {
  transition-duration: 0.4s;
  text-align: center;
}

.button:hover {
  background-color: black;
  color: blue;
}
