.container-cards {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    background: white;
    margin-bottom: 2em;
    flex: 0 1 24%;
  }
  
  .card-content {
    padding: .5em;
  }
  
  .card-content h3 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
    color: rgb(80, 7, 109);
  }
  
  .card-content p {
    font-size: 150%;
    color: black;
    text-align: center;
  }
  
  .card-posttitle {
    color: purple;
    text-align: center;
  }
  
 .button {
    background-color: black;
    text-align: center;
    /* text-size: 150%; */
  }
  