
  header {
    background-color: #6B2A7B;
    
  }
  
  .navtitle {
    height: 30%;
    width: 30%;
  }
  
  nav .container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }
  
  nav .container li {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: ghostwhite;
    box-sizing: border-box;
    background-color: #FFE8FE;
    list-style-type: none;
  }
  
  .nav-link {
    color: black;
    cursor: pointer;
  }
  
  .nav-link:hover {
    color: ghostwhite;
  }